/******************************

INDEX:

******************************/

body {
    overflow: visible;
    overflow-x: hidden;
}

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1200px;
    }
	.widget .footer-social-links{
		padding-top: 20px;
	}
}

@media (max-width: 1400px){
	.header-style-1 .pbmit-slider-area{
		margin-right: 70px;
	}
	.header-style-1 .pbmit-social-links{
		right: 0;
		padding-top: 50px;
		padding-right: 25px;
	}
	.service-bg-one{
		margin: 0 0 472px;
		border-radius: 0;
	}
	.testimonial-bg-one {
		margin: 110px 0px 0;
	}
	.appoinment-bg-one .appoinment-content {
		padding-left: 0;
	}
	.header-style-2 .site-header-menu{
		width: 98%;
	}
	.header-style-2 .site-branding {
		margin-left: 30px;
		margin-right: 20px;
	}
	.header-style-2 .pbmit-header-button a:after{
		display: none;
	}
	.header-style-2 .pbmit-header-button a{
		padding: 0 30px;
    	font-size: 24px;
	}
	.header-style-2 .pbmit-right-side {
		margin-left: 0;
	}
	.header-style-2 .pbmit-social-links{
		left: -18px;
	}
	.testimonial-section-two{
		margin: 0 0 120px 0;
		border-radius: 0;
	}
	.portfolio-ihbox .pbmit-ihbox-style-3 {
		margin-left: 120px;
	}
	.portfolio-ihbox .swiper-horizontal>.swiper-pagination-bullets, 
	.portfolio-ihbox .swiper-pagination-bullets.swiper-pagination-horizontal {
		right: 100px;
	}
	.testimonial-bg-three{
		margin: 0;
	}
	.testimonial-section-two{
		background-position: 126% 0%;
	}
	.footer.site-footer:before{
		width: calc(100% - 20px);
	}
	.site-footer .pbmit-footer-text-inner:before{
		width: 100%;
	}
	.appoinment-bg-one .appoinment-content {
		padding-left: 50px;
	}
}

@media (max-width: 1350px){
	.header-style-2 .pbmit-btn {
		display: none;
	}
}

@media (max-width: 1300px){
	.site-header .pbmit-social-links{
		display: none;
	}
	.header-style-1 .pbmit-slider-area {
		margin-right: 0;
	}
	.testimonial-section-two {
		margin: 0 30px 120px;
		border-radius: 50px 0px 0px;
	}
}

@media (min-width: 1200px){
	.container{
		max-width: 1200px;
	}
	.ti-angle-down:before{
		display: none;
	}
}

@media (max-width: 1200px){
	.pbmit-title-bar-wrapper.single-blog .pbmit-tbar-title {
		font-size: 50px;
		line-height: 50px;
	}
	/** Homepage 01 **/
	.testimonial-bg-one .testimonial-img {
		margin-top: -63px;
	}
	/** Team Single **/
	.team-details-wrap .pbmit-title, .team-contact .pbmit-title {
		font-size: 35px;
		line-height: 45px;
	}
	/** Service Details **/
	.service-details .service-list-group-img .list-group{
		margin-top: 0;
	}
}

@media(max-width:1199px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: none;
    }
	.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		padding-right: calc(var(--bs-gutter-x) * .8);
		padding-left: calc(var(--bs-gutter-x) * .8);
	} 
	.sticky-header{
		position: relative  !important;
	}
    /** Main menu resoposive **/
	.pbmit-menu-wrap {
		background-color: #fff;
		position: fixed;
		top: 0;
		right: -400px;
		z-index: 1000;
		width: 300px;
		height: 100%;
		padding: 0;
		display: block;
		transition: all 600ms ease;
		-moz-transition: all 600ms ease;
		-webkit-transition: all 600ms ease;
		-ms-transition: all 600ms ease;
		-o-transition: all 600ms ease;
		opacity: 0;
		padding: 90px 0;
	}
	.active .pbmit-menu-wrap{
		right: 0px;
		visibility: visible;
		opacity: 1;
		overflow-y: scroll;
		-webkit-transition-delay: 300ms;
		-moz-transition-delay: 300ms;
		-ms-transition-delay: 300ms;
		-o-transition-delay: 300ms;
		transition-delay: 300ms;
		opacity: 1;
	}
	.pbmit-mobile-menu-bg {
		position: fixed;
		right: 0;
		top: 0;
		width: 0%;
		height: 100%;
		display: block;
		z-index: 99;
		background: rgba(0,0,0,.90);
		-webkit-transform: translateX(101%);
		-ms-transform: translateX(101%);
		transform: translateX(101%);
		transition: all 900ms ease;
		-moz-transition: all 900ms ease;
		-webkit-transition: all 900ms ease;
		-ms-transition: all 900ms ease;
		-o-transition: all 900ms ease;
		-webkit-transition-delay: 300ms;
		-moz-transition-delay: 300ms;
		-ms-transition-delay: 300ms;
		-o-transition-delay: 300ms;
		transition-delay: 300ms;
	}
	.active .pbmit-mobile-menu-bg {
		opacity: 1;
		width: 100%;
		visibility: visible;
		transition: all 900ms ease;
		-moz-transition: all 900ms ease;
		-webkit-transition: all 900ms ease;
		-ms-transition: all 900ms ease;
		-o-transition: all 900ms ease;
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}
	.closepanel {
		position: absolute;
		z-index: 99;
		right: 35px;
		margin-left: -20px;
		top: 25px;
		display: block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 50%;
		text-align: center;
		cursor: pointer;
		font-size: 35px;
		color: var(--pbmit-blackish-color);
		border: 0;
		-webkit-transition: all 300ms ease;
		transition: all 300ms ease;
	}
    .navbar-toggler { 
		border: none; 
		font-size: 35px; 
		outline: none; 
		color: #2c2c2c;
		vertical-align: middle;
	}
    .sticky-header .navbar-toggler { 
		top: 10px; 
	}
    .navbar-toggler:hover, 
	.navbar-toggler:focus { 
		outline: none; 
	}
    .main-menu .navbar-collapse {
		position: absolute;
		width: 100%; left: 0;
		background-color: #fff;
		z-index: 99;
		top: 82px; 
	}
    .sticky-header .navbar-collapse {
		 top: 60px; 
	}
    .main-menu .navigation > li {
		 float: none; 
		 border-bottom: 1px solid rgba(0,0,0,.1); 
	}
    .site-header .site-navigation ul.navigation > li > a {
		height: auto!important; 
		line-height: inherit!important; 
		padding: 15px 25px!important; 
		margin: 0; 		
	}
	.main-menu .navigation > li > ul li.active a{
		color: var(--pbmit-white-color);
	}
	.main-menu .navigation > li > ul a{
		padding: 15px 25px;
		font-size: 18px;
		text-transform: uppercase;
		line-height: 18px;
		letter-spacing: .5px;
		font-weight: normal;
		font-style: normal;
		color:var(--pbmit-blackish-color);
	}
	.site-header .site-navigation .dropdown ul li.active > a { 
		color: var(--pbmit-global-color);
	}
    .main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul {
		border: none; 
		box-shadow: inherit !important; 
		width: 100%;
		display: none; 
		position: inherit; 
		-webkit-transform: translateY(0); 
		-moz-transform: translateY(0); 
		-ms-transform: translateY(0); 
		-o-transform: translateY(0); 
		transform: translateY(0); 
	}
    .main-menu .navigation > li > ul > li > ul { 
		left: 0; 
		top: 100%; 
	} 
	.main-menu .navigation > li > ul > li a:before{
		display: none;
	}
    .main-menu .navigation > li.dropdown > ul.open, 
	.main-menu .navigation > li.dropdown > ul.open li.dropdown > ul.open {
		display: block; 
		opacity: 1; 
		visibility: visible;
		background-color: transparent;
		padding-left: 1em;
	}
	.main-menu .navigation > li > ul li,
	.main-menu .navigation > li > ul li a{
		border: none;
	}
    .menu-right-box { 
		position: relative; 
		right: 30px; 
		top: 10px; 
	}
	.site-header .righticon {
		font-size: 22px; 
		position: absolute;
		z-index: 99;
		right: 0;
		top: 10px;  
		display: block;
		height: 45px; 
		width: 45px; 
		cursor: pointer; 
		text-align: inherit; 
		line-height: 45px;
		color: var(--pbmit-blackish-color);
	}
    .site-header .menu-right-box { 
		display: none !important; 
	}
    .main-menu ul > li.dropdown > a:after{
		display: none;
	}
	 .righticon i{
		font-size: 14px;
	}
	 .site-navigations ul.navigation > li > a{
		height: auto;
		line-height: initial;
	}
    /** Header responsive **/
	.pbmit-left-main-box {
		width: 100%;
	}
	.header-style-1 .site-title{
		height: 90px;
		line-height: 90px;
	}
    .site-header .header-button, 
	.site-header .pre-header { 
		display: none; 
	}
    .ipad-view-search {
		 display: block; 
	}
    .site-header .site-header-menu { 
		height: auto; 
		background-color: var(--pbmit-white-color);
	}
    .site-header .site-branding img { 
		max-height: 50px; 
	}
    .site-header .sticky-header .site-branding img {
		 max-height: 35px; 
	}
	.site-navigations ul.navigation > li > a{
		color: var(--pbmit-blackish-color);
		padding: 15px 25px;
	}
	/** Homepage 01 **/
	.site-title{
		height: 90px;
	}
	.pbmit-right-side{
		display: none;
	}
	.header-style-1 .sticky-header .site-navigations ul.navigation > li > a{
		height: auto;
		line-height: initial;
	}
	.header-style-1 .site-header-menu .site-branding {
		display: block;
	}
	.header-style-1 .header-menu-area{
		background-color: transparent;
	}
	/** Homepage 02 **/
	.header-style-2 .site-header-menu {
		position: static;
		width: 100%;
		border-radius:0;
	}
	.header-style-2 .pbmit-right-side{
		display: none;
	}
	.header-style-2 .header-content{
		width: 100%;
	}
	.about-us-section-two .about-us-inner{
		padding-top: 50px;
	}
	.about-us-right-two .pbminfotech-ele-fid-style-3 {
		margin-top: 0;
		margin-left: 24px;
	}
	.about-us-right-two {
		padding: 60px 0px 0px 0px;
	}
	.about-us-right-two .mt-5 {
		width: 72%;
		margin-top: -94px !important;
	}
	.project-bg-left-two .project-content {
		padding: 85px 30px 85px 30px;
	}
	.project-bg-two {
		margin-top: 150px;
	}
	.project-bg-two .pbmit-ihbox-style-10 {
		position: absolute;
		top: 0;
	}
	.project-bg-two::before {
		position: static;
	}
	.project-bg-left-two {
		margin-right: 0;
	}
	.project-bg-two .pbmit-ihbox-style-10 {
		margin: -100px 0 0 14px;
	}
	.project-bg-two::before{
		padding: 400px 0;
	}
	.tab-bg-two .tab-img {
		margin: 0;
		text-align: center;
	}
	.tab-img-wrapper:after{
		display: none;
	}
	.pbmit-tab-style-1 .pbmit-column-inner {
		padding: 40px 0 50px;
	}
	.testimonial-section-two .pbmit-heading-subheading.text-light  {
		margin-bottom: 0;
		padding-top: 0 !important;
	}
	.appoinment-bg-two {
		padding-left: 0;
	}
	.appoinment-img-two a {
		margin-left: 20px;
	}
	.blog-btn-two{
		margin-bottom: 40px;
		text-align: start !important;
	}
	/** Homepage 03 **/
	.header-style-3 .site-header-menu {
		padding: 0;
	}
	.header-style-3 .site-navigations ul.navigation > li > a {
		height: inherit;
		line-height: inherit;
	}
	.main-menu .navigation > li > ul li.active a {
		color: var(--pbmit-blackish-color);
	}
	.about-bg-three .about-left {
		padding: 0;
		margin-bottom: 50px;
	}
	.about-bg-three .about-us-img-one {
		margin-left: 0;
		width: 100%;
	}
	.service-three-img::before{
		position: static;
		width: 100%;
		padding: 300px 0;
	}
	.service-section-three .pbminfotech-ele-fid-style-4 {
		top: 360px;
		left: 30px;
	}
	.service-section-three .service-content {
		margin: 0;
		padding: 80px 30px;
	}
	.pbmit-blog-style-3 {
		margin-bottom: 50px;
	}
	/** Contact Us **/
	.contact-form .contact-ihbox{
		margin: 80px 0px 80px 0px;
		padding: 60px 36px 60px 30px;
	}
	.contact-form .contact-form-single{
		padding: 170px 60px;
	}
	.contact-client-section .swiper-slider {
		padding: 65px 0px 0px 0px;
	}
	.contact-form {
		padding-top: 40px;
	}
}

@media(max-width:1024px) {
	.section-lgb {
		padding-bottom: 60px;
	}
	/** Homepage 01 **/ 
	.testimonial-one-bg .swiper-slider {
		padding-bottom: 50px;
	}
	.about-us-single-one {
		padding: 0;
	}
	.pbmit-element-miconheading-style-1{
		margin-top: 0;
	}
	.pbmit-ele-static-box.pbmit-static-box-style-1 .pbmit-contentbox{
        position: static;
        width: 98%;
        height: auto;
        padding-top: 40px; 
        margin-left: 15px;       
    }
	.static-box-one .swiper-pagination{
		display: none;
	}
	.tab-bg-one{
		padding: 260px 0px 0px 0px;
	}
	.tab-bg-one .tab-img {
		text-align: center;
	}
	.tab-bg-one .tab-img .pbmit-ihbox-style-4 {
		width: 50%;
		text-align: left;
	}
	.pbmit-element-testimonial-style-1 {
		padding: 50px 90px 0 0px;
	}
	.appoinment-bg-one .appoinment-form{
		padding: 60px 30px;
		margin-left: 0;
		--e-column-margin-left: 0px;
	}
	.appoinment-bg-one .appoinment-single {
		padding: 100px 30px 50px 30px;
		margin: 0;
	}
	.pbmit-stroke-heading h2{
		font-size: 120px;
		line-height: 120px;
		top: -118px;
		right: -80px;
	}
	/** Homepage 02 **/ 
	.about-us-section-two .headeing-strong {
		padding: 0;
	}
	.pbmit-fid-style-2 .pbminfotech-ele-fid-style-2:after{
        display: none;
    }
	.ihbox-bg-two{
		padding: 0px 0px 350px 0px;
	}
	/** Homepage 03 **/ 
	.about-bg-three{
		padding-top: 50px;
	}
	.portfolio-ihbox .pbmit-ihbox-style-3 {
		margin-left: 50px;
	}
	.portfolio-ihbox .swiper-horizontal>.swiper-pagination-bullets, 
	.portfolio-ihbox .swiper-pagination-bullets.swiper-pagination-horizontal {
		right: 50px;
	}
	.portfolio-ihbox {
		padding: 70px 0 60px;
	}
	.testimonial-bg-three .swiper-button-next, 
	.testimonial-bg-three .swiper-button-prev{
		display: none;
	}
	.appoinment-bg-three .appoinment-single::before{
		margin: 0;
	}
	.pbmit-testimonial-style-3 .pbminfotech-testimonial-wrapper {
		width: auto;
		padding: 70px 60px 0;
	}
	.appoinment-bg-one .appoinment-content {
		padding-left: 0;
	}
	.appoinment-bg-one .accordion-button {
		font-size: 23px;
	}
	/** About Us **/
    .pbmit-ihbox-style-13 .pbmit-ihbox-contents{
        padding-right: 0;
    }
	.pbmit-team-single-info{
		margin: 80px 0 50px;
		padding-right: 0;
	}
	.team-details-wrap .row {
		padding-top: 30px;
	}
	.team-single {
		padding: 0;
		margin-top: 50px;
	}
	.team-progress {
		padding: 0;
	}
	.tab-img {
		margin-left: 0;
	}
	.tab-single-one {
		margin-top: 30px;
	}
	/** Portfolio-Detail **/
	.pbmit-footer-overlay {
		padding-bottom: 80px;
	}
	.pbmit-footer-widget-col-3{
		padding-right: 0 !important;
	}
	.pbmit-footer-overlay-left ,
	.pbmit-footer-overlay-right{
		display: flex;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.pbmit-footer-copyright-text ul li{
		margin-right: 8px;
	}
}

@media (max-width: 1000px) {
	.pbmit-ihbox-style-9 .d-flex{
		display: block !important;
	}
    .pbmit-ihbox-style-9 .pbmit-ihbox-contents {
        padding-left: 0px;
        margin-top: 30px;
    }
}

@media(max-width:991px) {
    /** Section Padding **/
	.section-md {
		padding-top: 80px;
		padding-bottom: 70px;
	}
	.section-lg {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	.section-lgt{ 
		padding-top: 60px; 
	}
	.section-lgx {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.section-x {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.section-xxl {
		padding-top: 60px;
		padding-bottom: 80px;
	}
	.pbmit-heading-subheading .pbmit-title {
		font-size: 32px;
		line-height: 42px;
	}
	.pbmit-heading-subheading {
		margin-bottom: 30px;
	}
	/** Homepage 01 **/ 
	.about-single-one {
		padding-top: 30px;
	}
	.pbmit-element-miconheading-style-1 {
		margin-top: -80px;
	}
	.service-bg-one {
		margin: 0 0 450px;
		height: 560px;
	}
	.pbmit-stroke-heading h2{
		top: -116px !important;
		right: 0 !important;
	}
	.pbmit-element-testimonial-style-1 {
		padding: 50px 30px 0 0px;
	}
	.testimonial-arrow .swiper-button-next, 
	.testimonial-arrow .swiper-button-prev{
		display: none;
	}
	.pbmit-element-testimonial-style-1 .pbmit-element-posts-wrapper{
        padding-right: 0px;
    }
	.testimonial-bg-one {
		margin: 70px 0px 0;
	}
	.appoinment-bg-one{
		padding-top: 0px;
		padding-bottom: 60px;
	}
	.appoinment-bg-one .appoinment-single {
		padding: 60px 30px 50px 30px;
	}
	.appoinment-bg-one .appoinment-form,
	.appoinment-bg-one .appoinment-single::before{
		border-radius: 0;
	}
	.blog-right-one {
		padding-top: 50px ;
	}
	/** Homepage 02 **/ 
	.about-us-right-two .pbminfotech-ele-fid-style-3 {
		margin-top: 0;
		margin-left: 0;
	}
	.project-bg-two::before {
		padding: 330px 0;
	}
	.counter-section-two{
		padding-top: 0;
	}
	.client-ihbox{
		padding: 50px 25px 30px 25px;
	}
	.client-section-one .col-md-7 {
		padding: 45px 60px 60px 15px;
	}
    .pbmit-testimonial-style-2 .pbminfotech-post-item{
        display: block!important;
    }
    .pbmit-testimonial-style-2 .pbminfotech-box-content{
        padding-left: 0;
        padding-top: 35px;
    }
    .pbmit-testimonial-style-2 .pbmit-featured-wrapper{
        margin: 0 auto;
    }
    .pbmit-testimonial-style-2 .pbminfotech-testimonial-wrapper:before{
        top: -22px;
        left: calc(50% - 25px);
        border-width: 0px 20px 22px 20px;
        border-color: #fff transparent #fff transparent;
    }
    .pbmit-testimonial-style-2 .pbminfotech-box-content:after {
        bottom: 20px;
        right: 30px;
    }
	.testimonial-arrow-two {
		margin-right: 40px;
	}
	.testimonial-arrow-two .swiper-button-prev {
		top: -100px;
	}
	.testimonial-arrow-two .swiper-button-next{
		top: -42px;
	}
	/** Homepage 03 **/ 
	.pbmit-blog-style-3 {
		margin-bottom: 50px;
	}
	.pbmit-blog-style .pbmit-blog-style-3:last-child {
		margin-bottom: 0px;
	}
	.pbminfotech-ele-ptable-style-1 {
		padding: 80px 0 60px;
	}
	.blog-section-inner {
		padding: 50px 0 70px;
	}
	.about-us-img-one{
		width: 100%;
		margin-left: 0;
	}
	/** Contact Us **/
	.contact-heading-desc {
		padding: 10px 0px 0px 9px;
	}
	.contact-form .pbmit-ihbox.pbmit-ihbox-style-9 {
		display: block;
	}
	.contact-form .col-md-7 ,
	.contact-form .col-md-5{
		width: 100% !important;
	}
	.contact-form .contact-ihbox {
		margin: 0;
	}
	.contact-form .contact-form-single {
		padding: 80px 60px;
	}
	.contact-form .pbmit-ihbox.pbmit-ihbox-style-9{
		text-align: center;
	}
	.pbmit-ihbox-style-9 .pbmit-ihbox-icon-wrapper{
		margin: 0 auto;
	}
	/** Portfolio-Detail **/
	.portfolio-style-1 {
		padding: 80px 0px 40px 0px;
	}
	.portfolio-single {
		padding-top: 80px;
		padding-bottom: 60px;
	}
	.pbmit-portfolio-content .portfolio-heading {
		font-size: 30px;
		line-height: 35px;
	}
	.pbmit-portfolio-content .portfolio-second-heading{
		font-size: 30px;
		line-height: 35px;
	}
	.pbminfotech_single_image {
		margin-top: 50px;
	}
	.post-navigation .nav-links{
		display: block;
	}
	.pbmit-portfolio-lines-ul {
		margin-bottom: 30px;
	}
	.post-navigation .nav-links .nav-next {
		margin-top: 15px;
	}
	.post-navigation .nav-next .pbmit-portfolio-nav-wrapper{
		margin-left: auto;
	}
	.navigation.post-navigation {
		margin-top: 0;
	}
	/** Portfolio-Detail **/
	.pbmit-entry-content .heading-title{
		font-size: 30px;
    	line-height: 35px;
	}
	/** Sidebar **/
	.service-left-col {
		flex: 0 0 100%;
		max-width: 100%;
		padding-top: 0;
	}
	.service-right-col {
		flex: 0 0 100%;
		max-width: 100%;
		padding-bottom: 0;
	}
	.pbmit-sidebar-left ,
	.pbmit-sidebar-right {
	    flex: 0 0 34%;
	    max-width: 34%;
	}
	.pbmit-sidebar-left,
	.pbmit-sidebar-right{
	    flex: 0 0 66%;
	    max-width: 66%;
	} 
	.blog-left-col {
		flex: auto;
		max-width: 100%;
		padding-top: 0;
	}
	.blog-right-col{
		max-width: 100%;
		flex: auto;
		padding-bottom:0;
	}
	.single-blog .blog-right-col{
		padding-bottom: 50px;
	}
	.widget.footer-social-links {
		margin: 0!important;
	}
	.post.blog-classic:last-child{
		margin-bottom: 50px;
	}
	/*=== Footer ===*/
	.pbmit-footer-contact-info {
		margin-right: 0;
	}
	.pbmit-footer-contact-info:after{
		display: none;
	}
	.pbmit-footer-boxes-2{
		margin: 50px 0;
	}
	.pbmit-footer-boxes-3 {
		padding-left: 0;
	}
	.pbmit-footer-widget-col-1,.pbmit-footer-widget-col-2,
	.pbmit-footer-widget-col-3,.pbmit-footer-widget-col-4{
		flex: 0 0 50%;
    	max-width: 50%;
	}
	.pbmit-footer-copyright-text ul {
		text-align: left;
	}
	.pbmit-blog-classic .pbmit-blog-classic-inner {
		top: 0;
		padding-top: 25px;
		margin-left: 0;
		padding-left: 0;
	}
}

@media(max-width:820px){
	.pbmit-element-miconheading-style-1 {
		margin-top: 0;
	}
	.about-single-one {
		padding-top: 0;
	}
	.service-bg-one .swiper-horizontal>.swiper-pagination-bullets, 
	.service-bg-one .swiper-pagination-bullets.swiper-pagination-horizontal{
		right: -56px;
	}
	.service-bg-one {
		height: 508px;
	}
	.tab-bg-one .tab-img .pbmit-ihbox-style-4 {
		width: 68%;
	}
	.portfolio-ihbox .pbmit-ihbox-style-3 {
		width: 54%;
	}
	.portfolio-ihbox .swiper-horizontal>.swiper-pagination-bullets, 
	.portfolio-ihbox .swiper-pagination-bullets.swiper-pagination-horizontal {
		right: -50px;
	}
	.pbminfotech-ele-fid-style-3{
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media(max-width:768px){
	/** Section Title **/ 
	.pbmit-heading-content p br {
		display: none;
	}
}

@media(max-width:767px) {
	/*=== Title Bar ===*/
	.pbmit-title-bar-content .pbmit-tbar-title{
		font-size: 40px;
		line-height: 46px;
	}
	.pbmit-title-bar-content{
		min-height: unset;
	}
	.pbmit-title-bar-wrapper.single-blog .pbmit-tbar-title {
		font-size: 40px;
		line-height: 40px;
	}
	.pbmit-title-bar-wrapper.single-blog .pbmit-breadcrumb, 
	.pbmit-title-bar-wrapper.single-blog .pbmit-breadcrumb a{
		font-size: 14px;
		font-weight: 400;
	}
	/** Section Padding **/ 
	.section-md {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.section-lg{ 
		padding-top: 60px;
		padding-bottom:40px;
	}
	.section-lgt{ 
		padding-top: 60px; 
	}
	.section-lgb{ 
		padding-bottom:40px;
	}
	.section-lgx {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.section-xt {
		padding-top: 60px;
	}
	.section-xxl {
		padding-top: 70px;
		padding-bottom: 50px;
	}
    /** Section Title **/ 
	.pbmit-heading-subheading .pbmit-title{
		font-size: 26px;
		line-height: 36px;
	}
	.pbmit-heading-subheading-style-1 .pbmit-title {
		font-size: 25px;
		line-height: 35px;
	}
	.pbmit-heading-subheading.text-center {
		margin-bottom: 50px;
	}
	/** Homepage 01 **/
	.about-us-img-one{
		margin-left: 0;
    	margin-top: 60px;
	}
	.service-bg-one {
		height: 598px;
	}
	.pbmit-ihbox-style-4-absolute{
		position: relative !important;
		width: 100% !important;
        margin-bottom: 0 !important;
        margin-top: -20px;
	}
	.pbmit-ihbox-style-4-absolute .pbmit-ihbox.pbmit-ihbox-style-4 {
		margin-right: 60px;
		overflow: hidden;
	}
	.pbmit-ihbox-style-4 .pbmit-element-title {
		font-size: 28px;
		line-height: 32px;
	}
	.pbmit-ihbox-style-4 .pbmit-ihbox-contents{
		margin-top: 20px;
	}
	.pbmit-ele-static-box.pbmit-static-box-style-1 .pbmit-contentbox {
        width: 94%;
    }
	.tab-single-one .nav.nav-tabs {
		display: block;
	}
	.tab-single-one .nav-item {
		margin-bottom: 16px;
	}
	.pbmit-ihbox.pbmit-ihbox-style-4:after{
		width: 0;
	}
	.tab-bg-one .tab-img .pbmit-ihbox-style-4 {
		width: 100%;
	}
	.pbmit-stroke-heading h2{
		display: none;
	}
	.pbmit-testimonial-style-1 .pbminfotech-box-content:after {
		bottom: -12px;
		right: 0;
		top: inherit;
		left: inherit;
	}
	.pbmit-testimonial-style-1 .pbminfotech-box-content {
		padding-left: 0;
		padding-top: 0;
	}
	.client-section-one .col-md-7 ,
	.client-section-one .col-md-5{
		width: 100%;
	}
	.client-section-one .col-md-7 {
		padding: 30px 0px 30px 0px;
	}
	.pbmit-blog-style-1 {
		margin-bottom: 30px;
	}
	.blog-right-one {
		padding-top: 20px;
	}
	.blog-right-one .pbmit-blog-style-2:last-child{
		margin-bottom: 0;
	}
	.service-bg-one .swiper-horizontal>.swiper-pagination-bullets,
	 .service-bg-one .swiper-pagination-bullets.swiper-pagination-horizontal{
		display: none;
	 }
	 .tab-single-one {
		margin-top: 0;
	}
	.appoinment-bg-one{
		padding-top: 80px;
	}	
	/** Homepage 02 **/
	.pbmit-ihbox-style-5 .pbmit-ihbox-box{
        padding: 25px 25px 25px 60px;
    }
	.pbmit-service-style-3 .pbminfotech-post-item {
		margin-bottom: 20px;
	}
	.pbmit-testimonial-style-2 .pbminfotech-box-content:after {
		font-size: 50px;
		line-height: 50px;
		bottom: 30px;
		right: 15px;
	}
	.about-us-right-two .mt-5 {
		width: 100%;
		margin-top: 30px !important;
	}
	.service-section-two{
		margin-top: 30px;
	}
	.service-section-two .swiper-pagination {
		display: none;
	}
	.pbmit-ihbox-style-3, .pbmit-ihbox-style-3 .pbmit-ihbox-contents {
		padding-left: 0;
	}
	.pbmit-ihbox-style-3 .d-flex {
		display: block!important;
	}
	.pbmit-ihbox-style-3 .pbmit-ihbox-icon-type-image {
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.testimonial-arrow-two .swiper-button-next,
	.testimonial-arrow-two .swiper-button-prev{
		display: none;
	}
	/** Homepage 03 **/
	.ihbox-bg-three {
		margin-top: 0;
		padding-top: 60px;
	}
	.about-bg-three {
		padding-top: 20px;
	}
	.about-us-img-one{
		margin-top: 0;
	}
	.service-section-three .service-content {
		padding: 60px 30px 30px;
	}
	.portfolio-ihbox {
		padding-top: 50px;
	}
	.portfolio-ihbox .swiper-horizontal>.swiper-pagination-bullets, 
	.portfolio-ihbox .swiper-pagination-bullets.swiper-pagination-horizontal{
		display: none;
	}
	.portfolio-ihbox .pbmit-ihbox-style-3 {
		width: 100%;
		margin-left: 30px;
	}
	.testimonial-bg-three {
		padding: 60px 30px;
	}
	.pbmit-testimonial-style-3 .pbminfotech-testimonial-wrapper {
		width: auto;
		padding: 0;
		padding-top: 50px;
	}
	.pbmit-ihbox-style-2 Br{
		display: none;
	}
	.client-section-three{
		padding: 50px 30px;
	}
	.client-bg-three .pbmit-client-style-1 {
		padding: 30px 0;
	}
	.client-bg-three{
		padding: 0 0 300px;
	}
	.appoinment-bg-one .appoinment-form{
		margin: 0;
		margin-bottom: 100px;
		border-radius: 0px 0px 0px 50px;
	}
	/** Our-History **/
	.pbmit-timeline .pbmit-last-timeline{
		display: none;
	}
	.pbmit-timeline .pbmit-timeline-post-items:before{
		display: none;
	}
	.pbmit-timeline .pbmit-first-timeline{
		display: none;
	}
	.pbmit-timeline .pbmit-timeline-post-items {
		padding-top: 0;
	}
	.pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-right {
		padding-right: 15px;
		padding-left: 15px;
	}
	.pbmit-ourhistory-center span{
		top: 262px;
	}
	.pbmit-timeline {
		margin: 0 15px;
	}
	.pbmit-timeline-inner {
		margin: 0;
	}
	.pbmit-timeline .pbmit-timeline-post-items .pbmit-timeline-inner:last-child{
		padding-bottom: 0;
	}
	/** Team Single **/
	.team-details-contact{
		padding: 60px 30px 60px 30px;
	}
	/** Service Details **/
	.service-page-infobox .col-md-4:not(:first-child) .pbmit-ihbox-style-1{
		margin-top: 30px;
	}
	.service-details .service-our-dentist .row{
		flex-direction: column-reverse;
	}
	.pbmit-service-style-2 .pbminfotech-box-content-inner{
		padding-left: 0;
    	padding-right: 0;
	}
	.service-left-col{
		padding-bottom: 60px;
	}
	.service-page-infobox ul.list-group {
		margin-bottom: 0;
	}
	.service-details-section .img-grid{
		margin: 30px 0;
	}
	.service-page-infobox {
		border-bottom: none;
		padding-bottom: 0;
	}
	.service-details-section{
		padding-bottom: 20px;
	}
	/** Portfolio-Detail **/
	.pbmit-single-project-details-list{
		position: static;
		margin-bottom: 35px;
		padding: 25px;
	}
	.pbmit-pf-featured-wrapper {
		margin-bottom: 0;
	}
	.pbmit-portfolio-lines-wrapper ul {
		grid-template-columns: repeat(1,1fr);
	}
	.pbmit-portfolio-lines-wrapper .pbmit-portfolio-line-li:nth-last-child(-n+2) {
		border-bottom: 1px solid rgba(255,255,255,.1);
		padding-bottom: 10px;
	}
	.pbmit-portfolio-lines-wrapper .pbmit-portfolio-line-li:last-child {
		border: inherit;
		padding-bottom: 0;
	}
	.pbmit-portfolio-content .portfolio-heading {
		font-size: 25px;
		line-height: 30px;
	}
	.pbmit-portfolio-content .portfolio-second-heading {
		font-size: 25px;
		line-height: 35px;
	}	
	.pbmit-entry-content .heading-title {
		font-size: 25px;
		line-height: 35px;
	}
	.portfolio-single {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.portfolio-single .pbmit-pf-featured-wrapper img {
		margin-bottom: 40px;
	}
	.portfolio-single .img-grid{
		margin: 30px 0;
	}
	.pbmit-portfolio-single .project-client{
		padding: 0;
	}
	.pbmit-ihbox.pbmit-ihbox-style-15 {
		margin-bottom: 30px;
	}
	.portfolio-single ul.list-group {
		margin-bottom: 0;
		margin-top: 0;
	}
	.portfolio-single .mb-0{
		margin-bottom: 25px !important;
	}
	.nav-links{
		margin-top: 30px;
		padding-top: 30px;
		display: block;
	}
	.post-navigation.nav-links .nav-next, 
	.post-navigation.nav-links .nav-previous {
		width: 100%;
	}
	.post-navigation .nav-next .pbmit-portfolio-nav-wrapper {
		margin-left: inherit;
	}
	.post-navigation.nav-links .nav-next a {
		justify-content: start;
	}
	.post-navigation.nav-links .nav-next{
		margin-top: 20px;
	}
	/** Blog Single **/
	.pbmit-blog-meta.pbmit-blog-meta-bottom{
		margin-top: 35px;
		padding: 0;
	}
	/** Contact Us **/
	.contact-heading-desc {
		padding: 0;
	}
	.contact-form .contact-ihbox {
		margin: 0;
	}
	.contact-form .contact-form-single {
		padding: 60px 40px;
	}
	.contact-client-section .client-ihbox {
		margin: 0;
	}
	.contact-client-section .swiper-slider {
		padding: 0px 0px 50px 0px;
	}
	/**  Footer **/
	.pbmit-footer-widget-col-1,.pbmit-footer-widget-col-2,
	.pbmit-footer-widget-col-3,.pbmit-footer-widget-col-4{
		flex: 0 0 100%;
    	max-width: 100%;
	}
	.site-footer .pbmit-footer-bottom{
		padding-top: 30px;
   		padding-bottom: 30px;
	}
	.site-footer .pbmit-rpw-list>li:last-child{
		padding-bottom: 0;
	}
	.footer.site-footer:before {
		width: 100%;
	}
	.pbmit-footer-overlay-left ,
	.pbmit-footer-overlay-right {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.pbmit-footer-copyright-box-2 img {
		width: 100px;
		margin: 30px auto;
		text-align: center;
	}
	.pbmit-footer-contact-info {
		-ms-flex: 0 0 33%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.pbmit-footer-overlay-right{
		display: inline-block;
	}
	.site-footer .pbmit-footer-text-inner{
		padding-left: 0;
	}
	.pbmit-footer-copyright-box {
		text-align: center;
	}
	.pbmit-footer-copyright-text ul {
		text-align: center;
	}
	.site-footer .pbmit-footer-widget-col-2 {
		padding-right: 0;
	}
	.site-footer .widget{
		padding-bottom: 0;
	}
}

@media (max-width: 540px){
    .pbmit-element-miconheading-style-1{
        width:auto;
        margin-right: 10px;
    }
}

@media(max-width:575px) {
	.pbmit-team-des {
		padding: 45px 25px 45px;
	}
	.pbmit-team-des-wrap {
		display: block !important;
	}
	.pbmit-team-social-links{
		margin-top: 20px;
	}
	.pbmit-single-team-info li label{
		display: block;
		margin: 0 0 10px -25px;
	}
	.pbmit-single-team-info li{
		padding: 0 0 10px 25px;
	}
    .pbmit-ihbox-style-1{
        padding-left: 20px;
        padding-right: 20px;
    }
	.pbmit-tab-style-1 .pbmit-column-inner {
		padding: 40px 0 0px;
	}
	.pbminfotech-ele-fid-style-3{
		padding: 30px 25px;
	}
	/** Blog */
	.blog-classic .pbmit-post-title {
		font-size: 25px;
		line-height: 35px;
	}
	.comments-box .media{
		display: block;
	}
	/** Blog details*/
	.pbmit-blog-meta.pbmit-blog-meta-bottom {
		display: block!important;
		text-align: center;
	}
	.blog-details .pbmit-meta-tags {
		margin-bottom: 20px;
	}
	.pbmit-blog-meta-bottom-left{
		width: 100%;
	}
	.pbmit-blog-meta-bottom-right {
		width: 100%;
		margin-top: 20px;
		text-align: left;
	}
	.pbmit-author-box {
		display: block;
	}
	.pbmit-author-content {
		margin-top: 20px;
		padding: 0;
	}
	.media-body.comment-meta {
		margin-left: 0;
		margin-top: 25px;
	}
	.comments-box .children .media.even.depth-2 {
		margin-left: 10px;
	}
	.post-content-bottom{
		text-align: center;
	}
	.comment-reply-title{
		font-size: 20px;
    	line-height: 30px;
	}
	.comments-box .comment-author{
		float: inherit;
	}
	/** Footer **/ 
	.pbmit-footer-boxes-2 button{
		padding: 10px 20px;
	}
}

@media (max-width: 540px){
    .pbmit-element-miconheading-style-1{
        width:auto;
        margin-right: 10px;
    }
	br {
		display: none;
	}
}

@media (max-width: 414px) {
	.pbmit-ourhistory-center span {
		top: 319px;
	}
	.pbmit-btn span::after, a.btn-arrow span:after{
		top: 1px;
	}
	.pbmit-btn:hover span::after, 
	.main-form button:hover span:after, 
	.rev-button:hover span:after, 
	.pbmit-header-button a:hover span:after, 
	.pbmit-header-button2 a:hover span:after, 
	.pbmit-newsletter button:hover span:after, 
	.btn-arrow:hover span:after {
		right: -2px;
	}
}

@media (max-width: 400px) {
	.pbmit-ihbox-style-4 .d-flex{
		display: block !important;
	}
	.pbmit-ihbox-style-4 .pbmit-ihbox-contents{
		padding-left: 65px;
	}
	.pbmit-ihbox-style-4 .pbmit-ihbox-contents:before{
		left: 0;
	}
}

@media(max-width:375px){
    .rev-button{
    padding-top:10px !important; 
    padding-bottom:4px !important
    }
	.pbmit-btn span::after, a.btn-arrow span:after {
		top: -3px;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1200px){
    .pbmit-fid-style-2 .pbminfotech-ele-fid-style-2:after{
        right: 0;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1200px){
	.pbmit-service-style-4 .pbminfotech-box-content {
		padding: 40px 15px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
	.pbmit-team-des {
		padding: 40px 30px;
	}
}

@media only screen and (min-width: 991px) and (max-width: 1024px){
    .pbmit-element-testimonial-style-1 .pbmit-element-posts-wrapper{
        padding-right: 55px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .pbmit-ihbox-style-2 .pbmit-element-title{
        font-size: 31px;
        line-height:31px;
    }
	.pbmit-ihbox-style-5 .pbmit-ihbox-box .d-flex {
		display: block!important;
	}
	.pbmit-ihbox-style-5 .pbmit-ihbox-box {
		padding: 40px 20px 40px 45px;
	}
}

@media only screen and (min-width: 767px) and (max-width: 991px){
	.pbmit-ihbox-style-15 .pbmit-ihbox-box {
		display: block!important;
	}
	.pbmit-ihbox-style-15 .pbmit-ihbox-contents {
		padding-left: 0;
	}
}

@media only screen and (min-width:480px) and (max-width:600px){
    .rev-button{
        padding-top:10px !important; 
        padding-bottom:4px !important
    }
}

@media(max-width:1700px){
	.header-style-2 .pbmit-header-button a{
		padding: 0 30px;
    font-size: 27px;
	}
	.header-style-2 .pbmit-header-button a:after{
		display: none;
	}
	.header-style-2 .site-navigations ul.navigation > li > a{
		padding: 0 14px;
	}
	.header-style-2 .site-header-menu{
		width: 98%;
	}
}