/******************************

    00 - Home
    01 - Inner Page
        00 - About Us
        01 - Our History 
		02 - Services
        03 - Service Detail
        04 - portfolio Detail
        05 - Blog Detail
             Blog Classic
             Sidebar Right
             Blog Large
        06 - Team Single
        07 - Contact Us
        08 - Comment Form
    
******************************/

/*----------------------------------------*/
/*  00 - Home
/*----------------------------------------*/
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
blockquote p {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}
/** Homepage 01 **/
.about-single-one{
    padding-top: 50px;
}
.about-us-single-one{
    padding: 0px 42px 0px 58px;
}
.about-us-img-one{
    position: relative;
    display: inline-block;
    padding-left: 30px;
    padding-top: 30px;
    margin-left: 30px;
}
.about-us-img-one img{
    border-radius: 0px 50px 0px 0px;
    position: relative;
    z-index: 1;
}
.about-us-img-one:before {
    content: '';
    position: absolute;
    width: 170px;
    height: 270px;
    background-color: #931A21;
    left: 0;
    top: 0;
    border-radius: 0 50px 0 0;
    z-index: 0;
}
.about-us-img-one .button-wrapper {
    margin-top: -67px;
    position: relative;
    z-index: 1;
}
.about-us-img-one  .button-link {
    font-size: 30px;
    font-weight: 400;
    text-transform: none;
    line-height: 28px;
    letter-spacing: 0;
    border-radius: 0 50px 0 0;
    padding: 30px 15px 25px 30px;
    font-family: Teko,sans-serif;
    color: var(--pbmit-white-color);
    background-color: #931A21;
}
.about-us-img-one .button-link:hover{
    background-color: var(--pbmit-blackish-color);
}
.about-us-img-one .button-icon {
    margin-right: 5px;
    font-size: 36px;
    line-height: 36px;
    vertical-align: middle;
}
.pbmit-element-miconheading-style-1 {
    position: relative;
    width: 435px;
    margin: -100px 0 -70px;
    background-color: var(--pbmit-secondary-color);
    border-radius: 0 50px 0 0;
}
.pbmit-element-miconheading-style-1:before {
    content: '';
    position: absolute;
    left: -219px;
    top: 0;
    height: 100%;
    width: 220px;
    background-color: var(--pbmit-secondary-color);
    z-index: 0;
}
.pbmit-element-miconheading-style-1 .swiper-wrapper{
    z-index: 2;
}
.pbmit-element-miconheading-style-1 .swiper-horizontal>.swiper-pagination-bullets, 
.pbmit-element-miconheading-style-1 .swiper-pagination-bullets.swiper-pagination-horizontal{
    text-align: left;
    top: 70px;
    left: 10px;
    right: auto;
    z-index: 6;
    width: auto;
} 
.pbmit-element-miconheading-style-1 .swiper-pagination-bullet{
    display: block;
    margin: 18px 0px !important;
}
.tab-bg-one{
    background-image: url(../images/homepage-1/bg-02-new.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    padding: 335px 0px 0px 0px;
    overflow: hidden;
    background-color: var(--pbmit-light-color);
}
 .tab-bg-one .tab-img .pbmit-ihbox-style-4{
    margin-top: -184px
}
.about-us-img-one .tab-img{
    padding: 0px 0px 0px 33px;
}
.service-bg-one .pbmit-ihbox-style-3{
    padding-top: 24px;
}
.service-bg-one{
    background-image: url(../images/homepage-1/pattern-bg-1.png);
    background-color: var(--pbmit-light-color);
    border-radius: 0px 50px 0px 0px;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
    height: 580px;
    margin: 0 146px;
    padding-top: 100px;
    margin-bottom: 470px;
}
.testimonial-bg-one{
    background-color: var(--pbmit-blackish-color);
    margin: 110px 134px 0;
    border-radius: 0px 0px 50px;
}
.testimonial-bg-one .testimonial-img{
    margin-top: -110px;
    border-radius: 50px 0px 0px 0px;
}
.pbmit-element-testimonial-style-1{
    padding: 100px 120px 0 30px;
}
.pbmit-stroke-heading{
    text-align: end;
    position: relative;
}
.pbmit-stroke-heading h2 {
    position: absolute;
    top: -200px;
    right: -150px;
    font-size: 210px;
    line-height: 210px;
    font-weight: 400;
    color: #000000;
    -webkit-text-stroke: 2px #ffffff;
    opacity: .4;
}
.static-box-one{
    margin-top: 65px;
    margin-bottom: -245px;
}
.testimonial-arrow{
    position: relative;
}
.testimonial-arrow .swiper-button-next,
.testimonial-arrow .swiper-button-prev{
    right: -80px;
    left: inherit;
    z-index: 0;
} 
.testimonial-arrow .swiper-button-next{
    top: 150px;
} 
.testimonial-arrow .swiper-button-prev{
    top: 92px;
}
.testimonial-arrow .swiper-button-prev:hover:after{
    background-color: var(--pbmit-global-color);
    color: var(--pbmit-white-color) !important;
}
.testimonial-arrow .swiper-button-prev:after{
    color: var(--pbmit-blackish-color) !important;
    background-color: var(--pbmit-white-color);
}
.client-section-one {
    margin-top: 50px;
}
.client-section-one .col-md-7 {
    width: 62.531%;
    padding: 50px 90px 50px 0px;
}
.client-ihbox{
    margin: 20px 0px -40px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 55px 55px 0px 55px;
    border-radius: 50px 0px 0px 0px;
    background-color: #931a21;
}
.client-section-one .col-md-5 {
    width: 37.469%;
}
.appoinment-bg-one{
    background-image: url(../images/homepage-1/transparent-img-02.png);
    background-position: center left;
    background-repeat: no-repeat;
    padding: 140px 0px 100px 0px;
    overflow: hidden;
    z-index: 0;
    position: relative;
}
.appoinment-bg-one .appoinment-form{
    z-index: 1;
    position: relative;
    height:calc(100% - 100px);
    margin: 100px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
    padding: 80px 60px 80px 60px;
    border-radius: 0px 0px 0px 50px;
    background-color: #931a21;
}
.appoinment-bg-one .appoinment-form .pbmit-heading-desc {
    margin: -40px 0px 25px 0px;
    color: #fff;
}
.appoinment-bg-one .appoinment-single{
    position: relative;
    height: 100%;
    padding: 120px 15px 50px 80px;
    margin: 0px 0px 0px -75px;
}
.appoinment-bg-one .appoinment-single::before{
    position: absolute;
    height: 100%;
    width: 160%;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
    display: block;
    border-radius: 50px 0 0;
    background-color: var(--pbmit-light-color);
}
.appoinment-bg-one .appoinment-content{
    padding-left: 80px;
}
.appoinment-bg-one a.pbmit-btn {
    margin-top: 40px;
}
.blog-right-one{
    padding: 30px 0px 0px 0px;
}
/** Homepage 02 **/ 
.ihbox-bg-two{
    z-index: 1;
    position: relative;
    padding: 0px 0px 400px 0px;
    background-color: var(--pbmit-light-color);
}
.icon-box-two .row{
    --bs-gutter-x: 1.0rem;
    --bs-gutter-y: 0;
}
.icon-box-two{
    border-bottom:1px solid #DDDDDD;
    margin: 0px 15px 0px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 0px 0px 20px 0px;
}
.about-us-section-two .headeing-strong{
    padding: 30px 0 0 40px;
}
.about-us-section-two{
    margin-top: -300px;
    z-index: 1;
    position: relative;
}
.about-us-right-two .headeing-strong a{
    border-radius: 0px 0px 25px 0px;
}
.about-us-img{
    background-image: url(../images/homepage-2/demo-2-img-01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 50px 0px 0px;
    height: 100%;
    position: relative;
    padding: 250px 0;
}
.about-us-img .button-wrapper {
    position: absolute;
    right: 68px;
    bottom: 0;
}
.about-us-right-two{
    padding: 130px 0px 60px 40px;
}
.about-us-right-two ul.list-group {
    margin-top: 10px;
}
.about-us-section-two .pbmin-lightbox-video {
    font-size: 26px;
    line-height: 26px;
    border-radius: 0 0 0 25px;
    padding: 30px 25px 30px 25px;
    font-family: Teko,sans-serif;
    color: var(--pbmit-white-color);
    background-color: var(--pbmit-global-color);
}
.about-us-section-two .pbmin-lightbox-video:hover{
    background-color: var(--pbmit-blackish-color);
}
.about-us-section-two .button-icon {
    font-size: 36px;
    line-height: 36px;
    margin-right: 5px;
    position: relative;
    display: inline-block;
    padding-right: 5px;
}
.about-us-right-two .pbminfotech-ele-fid-style-3{
    margin-top: -120px;
}
.counter-section-two{
    padding: 60px 0;
}
.project-bg-left-two{
    position: relative;
    z-index: 0;
    margin-right: -110px;
}
.project-bg-left-two::before{
    position: absolute;
    height: 100%;
    width: 148%;
    top: 0;
    right: 0;
    content: "";
    z-index: -1;
    display: block;
    background-color: var(--pbmit-blackish-color);
    background-image: url(../images/homepage-2/transparent-bg-04.png);
    border-radius: 0px 50px 0px 0px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 300px 0;
}
.project-bg-left-two .project-content {
    padding: 100px 160px 100px 0px;
}
.project-bg-two{
    position: relative;
    margin-top: 105px;
}
.project-bg-two::before{
    position: absolute;
    height: 100%;
    width: 178%;
    top: 0;
    left: 0;
    content: "";
    display: block;
    background-image: url(../images/homepage-2/demo-2-img-03.jpg);
    border-radius: 0px 0px 0px 50px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 366px 0;
}
.project-bg-two .pbmit-ihbox-style-10 {
    margin:-100px 0 0 120px;
}
.project-bg-left-two .pbmit-heading-desc{
    margin-top: 30px;
}
.project-bg-left-two .project-content a{
    margin-top: 20px;
}
.tab-bg-two{
    background-image: url(../images/homepage-2/bg-03-new.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 50px;
}
.tab-bg-two .tab-img {
    margin: 0 0 0 -70px;
}
.tab-bg-two .nav-tabs .nav-link{
    background-color: var(--pbmit-light-color);
}
.tab-bg-two .nav-tabs .nav-link.active {
    color: var(--pbmit-white-color);
    background-color: var(--pbmit-global-color);
}
.testimonial-section-two{
    background-image: url(../images/homepage-2/transparent-bg-01.png);
    border-radius: 50px 0px 0px;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: var(--pbmit-light-color);
    margin: 0 100px 120px ;
    padding-top: 90px;
}
.testimonial-section-two .client-ihbox{
    background-color: var(--pbmit-blackish-color);
}
.testimonial-section-two .pbmit-client-light .pbmit-client-with-hover-img .pbmit-featured-wrapper {
    opacity: inherit;
}
.testimonial-arrow-two {
    position: relative;
}
.testimonial-arrow-two .swiper-button-prev{
    left: inherit;
}
.testimonial-arrow-two .swiper-button-prev:after{
    background-color: var(--pbmit-blackish-color);
}
.testimonial-arrow-two .swiper-button-prev:hover:after{
    background-color: var(--pbmit-global-color);
}
.testimonial-arrow-two .swiper-button-next {
    right: 0;
    left: auto;
    top: 60px;
}
.appoinment-bg-two{
    background-color: var(--pbmit-global-color);
    padding-left: 50px;
}
.appoinment-img-two{
    background-image: url(../images/homepage-2/demo-2-img-02.jpg);
    border-radius: 0px 0px 50px 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 100px 0;
}
.appoinment-img-two a{
    margin-left: -128px;
}
/** Homepage 03 **/ 
.ihbox-bg-three {
    margin-top: -110px;
}
.about-bg-three{
    background-image: url(../images/homepage-3/bg-01-new.jpg);
    background-color: var(--pbmit-light-color);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 70px 0 120px;
}
.about-bg-three .pbmit-heading-subheading {
    margin-bottom: 18px;
}
.about-bg-three .pbmit-heading-desc{
    margin-bottom: 20px;
}
.about-bg-three .about-left{
    padding: 0 88px 50px 0px;
}
.about-bg-three .about-us-img-one img{
    border-radius: 0 0 0 50px;
}
.about-bg-three .button-wrapper{
    text-align: right;
    margin-top: -61px;
}
.about-bg-three .button-link {
    padding: 20px 30px;
    border-radius: 50px 0 0 0;
}
.about-bg-three .about-us-img-one{
    margin-left: 50px;
}
.service-section-three{
    overflow: hidden;
    margin-top: -60px;
}
.service-three-img {
    position: relative;
    z-index: 1;
}
.service-three-img::before{
    background-image: url(../images/homepage-3/demo-3-bg-02.jpg);
    border-radius: 0px 50px 0px 0px;
    background-color: transparent;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    width: 200%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    padding: 380px 0;
}
.service-section-three .service-content{
    position: relative;
    margin: 60px 0 0 -275px;
    padding: 100px 10px 100px 340px;
}
.service-section-three .service-content::before{
    position: absolute;
    height: 100%;
    width: 162%;
    top: 0;
    left: 0;
    content: "";
    display: block;
    z-index: -1;
    border-radius: 0px 0px 0px 50px;
    background-color: var(--pbmit-blackish-color);
}
.service-section-three .pbmit-heading-subheading {
    margin-bottom: 30px;
}
.service-section-three .pbmit-heading-desc{
    color: var(--pbmit-white-color);
    margin-bottom: 40px;
}
.service-section-three  .icon-list-items {
    color: var(--pbmit-white-color);
    padding-left: 30px;
}
.service-section-three  .icon-list-items:first-child{
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #FFFFFF1C;
    padding: 0px 30px 0px 0px;
}
.service-section-three .list-group-item i{
    font-size: 21px;
    padding-right: 14px;
}
.service-section-three .pbmit-ihbox-style-8{
    border-top:1px solid #ffffff1c;
    margin-top: 40px;
    padding-top: 20px;
}
.service-section-three .pbminfotech-ele-fid-style-4 {
    display: inline-block;
    position: absolute;
    top: 522px;
    left: 5px;
}
.portfolio-ihbox{
    padding: 70px 0 100px;
}
.portfolio-ihbox .pbmit-ihbox-style-3{
    margin-left: 367px;
    margin-top: 20px;
}
.portfolio-ihbox .swiper-horizontal>.swiper-pagination-bullets, 
.portfolio-ihbox .swiper-pagination-bullets.swiper-pagination-horizontal{
    right: 300px;
}
.testimonial-bg-three{
    background-image: url(../images/homepage-3/transparent-bg-01.png); 
    border-radius: 50px 0px 0px;
    background-color: var(--pbmit-light-color);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 133px;
    padding: 80px 15px 90px;
}
.testimonial-bg-three .swiper-button-prev:after{
    background-color: var(--pbmit-blackish-color);
}
.testimonial-bg-three .swiper-button-next:hover::after{
    background-color: var(--pbmit-blackish-color);
}
.client-bg-three{
    background-image: url(../images/homepage-3/demo-3-bg-01.jpg); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 460px;
}
.client-section-three{
    border-radius: 0 0 50px 0;
    padding: 80px 60px 70px 70px;
    background-color: var(--pbmit-blackish-color);
}
.client-section-three .client-ihbox{
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: var(--pbmit-blackish-color);
}
.client-section-three .pbmit-ihbox.pbmit-ihbox-style-2 {
    padding-bottom: 0px;
}
.client-section-three .pbmit-ihbox-style-2 .pbmit-element-title:after{
    background-color: var(--pbmit-global-color);
}
.client-section-three .pbmit-client-light .pbmit-client-with-hover-img .pbmit-featured-wrapper {
    opacity: 1;
}
.appoinment-bg-three{
    padding: 0;
    background-image: none;
    margin-top: -100px;
}
.appoinment-bg-three .appoinment-single::before{
    width: 170%;
    right: 0;
    left: inherit;
    margin: 0 -142px 0 0;
    border-radius: 0 50px 0 0;
}
.appoinment-bg-three .appoinment-content {
    padding-left: 0px;
}
.appoinment-bg-three .appoinment-single {
    padding: 120px 70px 80px 15px;
}
.appoinment-bg-three .pbmit-btn-inline{
    margin-top: 20px;
}

/*----------------------------------------*/
/*01 - Inner Page 
/*----------------------------------------*/
/** 00  About Us **/
.pbmit-static-box-style-1-dots{
    position: relative;
}
.pbmit-static-box-style-1-dots .swiper-horizontal>.swiper-pagination-bullets, 
.pbmit-static-box-style-1-dots .swiper-pagination-bullets.swiper-pagination-horizontal, 
.pbmit-static-box-style-1-dots .swiper-pagination-custom, 
.pbmit-static-box-style-1-dots .swiper-pagination-fraction {
    right: -40px;
    left: inherit;
    top: 125px;
    text-align: -webkit-right;
}
.pbmit-static-box-style-1-dots .swiper-pagination-bullet{
    display: block;
    margin: 12px 8px !important;
}
.pbmit-element-miconheading-style-13{
    padding: 50px 0px 0px 30px;
}
.pbmit-element-miconheading-style-13 .pbmit-heading-subheading {
    margin-bottom: 20px;
}
.about-team{
    padding: 310px 0 70px;
    background-color: var(--pbmit-white-color);
}
.blog-section-inner{
    padding: 80px 0 105px;
}
/** 01  Our History**/
.tab-img {
    margin-left: -70px;
}
.pbmit-timeline .pbmit-first-timeline {
    position: relative;
    z-index: 1;
    left: calc(50% - 13px);
    width: 18px;
    height: 18px;
    background: 0 0;
    transform: rotate(45deg);
    border: 3px solid var(--pbmit-global-color);
}
.pbmit-timeline .pbmit-timeline-post-items {
    padding-top: 80px;
    padding-bottom: 0;
    position: relative;
}
.pbmit-timeline .pbmit-timeline-post-items:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: calc(50% - 5px);
    width: 2px;
    height: 100%;
    background: var(--pbmit-global-color);
}
.pbmit-timeline .pbmit-timeline-post-items .pbmit-timeline-inner {
    padding-bottom: 60px;
    position: relative;
}
.pbmit-timeline-inner {
    margin: 0 -15px;
}
.pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-right {
    padding-right: 70px;
    padding-left: 15px;
}
.pbmit-ourhistory-right .label, 
.pbmit-ourhistory-right .pbmit-timeline-image {
    margin-bottom: 30px;
    display: none;
}
.pbmit-ourhistory-type2 .label {
    display: block;
    font-size: 36px;
    line-height: 36px;
}
.pbmit-ourhistory-right .content {
    padding: 30px;
    background: #fff;
    position: relative;
}
.pbmit-ourhistory-right .content:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    z-index: 1;
    right: -30px;
    top: 40px;
    background-color: var(--pbmit-global-color);
}
.pbmit-ourhistory-type2 h4 {
    font-size: 26px;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.pbmit-ourhistory-right .content .simple-text p {
    margin-bottom: 0;
}
.pbmit-ourhistory-center span {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 100px;
    z-index: 1;
    font-family: Teko,sans-serif;
    background: var(--pbmit-secondary-color);
    padding: 10px 20px 3px;
    color: var(--pbmit-white-color);
    transform: translate(-50px,-20px);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.pbmit-timeline.label {
    display: block;
    font-size: 36px;
    line-height: 36px;
}
.pbmit-timeline .pbmit-last-timeline {
    position: relative;
    z-index: 1;
    left: calc(50% - 13px);
    width: 18px;
    height: 18px;
    background: 0 0;
    transform: rotate(45deg);
    border: 3px solid var(--pbmit-global-color);
}
.pbmit-ourhistory-type2:hover .pbmit-ourhistory-center span {
    background-color: var(--pbmit-global-color);
}
.pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row {
    flex-direction: row-reverse;
    align-items: center;
}
.pbmit-timeline .pbmit-timeline-inner:nth-child(even) .row.pbmit-ourhistory-row .pbmit-ourhistory-right .content:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    z-index: 1;
    left: -30px;
    top: 40px;
    background-color: var(--pbmit-global-color);
}

/** 06  Team Single **/
.pbmit-team-single{
    padding: 80px 0;
}
.pbmit-team-details .pbmit-team-left-inner {
    margin-right: 0;
    position: relative;
}
.pbmit-team-single-info {
    padding-right: 50px;
    position: relative;
    z-index: 1;
    background-color: var(--pbmit-light-color);
    margin-top: 100px;
    margin-bottom: 80px;
    border-radius: 0 0 50px 0;
}
.pbmit-team-download {
    position: absolute;
    transform: rotate(-90deg);
    padding: 0 0;
    width: calc(100% - 130px);
    bottom: 0;
    left: 55px;
    text-align: center;
    opacity: 1;
    transition: .6s ease;
    visibility: visible;
    text-align: center;
    transform-origin: left bottom 0;
}
.pbmit-team-download a {
    background: var(--pbmit-global-color);
    display: block;
    padding: 18px 15px;
    color: #fff;
    font-family: Teko,sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-style: normal;
}
.pbmit-team-download a:hover{
    background-color: var(--pbmit-blackish-color);
}
.pbmit-team-left-inner .pbmit-featured-wrapper {
    margin-left: 55px;
}
.pbmit-team-left-inner img {
    border-radius: 50px 0 0 0;
    margin-top: -80px;
}
.pbmit-team-des {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.pbmit-team-des .pbmit-team-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0;
    font-family: Teko,sans-serif;
}
.pbmit-team-designation {
    font-size: 16px;
    line-height: 16px;
    color: var(--pbmit-global-color);
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
    text-transform: uppercase;
}
.pbmit-team-social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.pbmit-team-details .pbmit-team-social-links li {
    margin-right: 10px;
    margin-bottom: 10px;
}
.pbmit-team-details .pbmit-team-social-links li {
    display: inline-block;
    margin-right: 10px;
}
.pbmit-team-details .pbmit-team-social-links a {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    border-radius: 0;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}
.pbmit-team-details .pbmit-team-social-links a:hover {
    background-color: var(--pbmit-global-color);
    color: #fff!important;
    border-color: transparent;
}
.pbmit-single-team-info {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    font-size: 15px;
    background: var(--pbmit-white-color);
}
.pbmit-single-team-info li {
    margin-bottom: 0;
    border: 2px solid #fff;
    border-bottom: 0;
    padding: 0 0;
}
.pbmit-single-team-info li label {
    display: inline-block;
    min-width: 150px;
    color: var(--pbmit-global-color);
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
    padding: 14px 0;
    padding-left: 30px;
    background-color: var(--pbmit-light-color);
    text-transform: uppercase;
    margin-right: 20px;
    letter-spacing: .5px;
    font-family: Teko,sans-serif;
}
.pbmit-single-team-info li:last-child {
    border-bottom: 2px solid #fff;
}
.team-details-wrap .row{
    padding-top: 45px;
}
.team-progress{
    padding: 0px 90px 0px 10px;
}
.pbmit-team-single h3.pbmit-title {
    margin-bottom: 20px;
}
.team-single{
    padding: 0px 10px 0px 90px;
}
.team-details-contact {
    margin-top: 30px;
    padding: 100px;
    background-color: var(--pbmit-light-color);
}
.team-details-contact .form-control, 
.team-details-contact .form-select{
    background-color: var(--pbmit-white-color);  
    margin-bottom: 2px;
}
.team-details-contact .row.gx-1 {
    --bs-gutter-x: 0.10rem;
}

/** 02 - Services **/
.service-section{
    padding: 100px 0 40px;
}
.service-section .pbmit-service-style-1 .pbminfotech-post-item{
    margin-bottom: 50px;
}

/** 03 - Service Detail **/
.service-details-section{
    padding: 80px 0;
}
.service-left-col {
    flex: 0 0 33%;
    max-width: 33%;
}
.service-right-col {
    flex: 0 0 67%;
    max-width: 67%;
}
.service-sidebar .all-post-list{
	padding: 40px 35px;
    margin-bottom: 30px;
    border-radius: 15px 15px 0 15px;
    background-color: var(--pbmit-light-color);
}
.service-sidebar .widget .widget-title{
    font-family: Teko,sans-serif;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0;
    color: #101010;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}
.post-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.post-list li{
   margin: 2px 0;
   padding: 0 !important;
}
.post-list li:last-child{
	border-bottom: none;
}
.post-list li.post-active a{
    color: var(--pbmit-white-color);
	background-color: var(--pbmit-global-color);
}
.post-list li.post-active a::before{
    opacity: 1;
    color: var(--pbmit-white-color);
}
.post-list li.post-active a:after{
    background-color: var(--pbmit-white-color);
}
.post-list li a:hover{
    color: var(--pbmit-white-color);
	background-color: var(--pbmit-global-color);
}
.post-list li a:hover:after{
    background-color: var(--pbmit-white-color);
}
.post-list li a:hover:before{
    opacity: 1;
    color: var(--pbmit-white-color);
}
.post-list li a{
	background: #fff;
    padding: 16px 20px;
    display: block;
    position: relative;
    border-radius: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding-left: 50px;
    letter-spacing: .5px;
    text-transform: none;
    font-family: Teko,sans-serif;
}
.post-list li a::before{
    position: absolute;
    content: '\e814';
    left: 30px;
    font-size: 24px;
    font-family: 'pbminfotech-base-icons';
    top: 50%;
    color: var(--pbmit-global-color);
    transition: all .4s ease-in-out;
    opacity: 0;
    -khtml-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}
.post-list li a:after{
    position: absolute;
    content: ' ';
    left: inherit;
    left: 18px;
    color: inherit;
    top: 50%;
    width: 17px;
    height: 2px;
    background-color: var(--pbmit-global-color);
    transition: all .2s ease-in-out;
    -khtml-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}
.widget .download {
    display: block;
}
.widget .download .item-download:first-child {
    margin-bottom: 15px;
    margin-left: 0;
}
.widget .download .item-download a {
    display: block;
    text-align: center;
    padding: 20px 20px;
    font-size: 22px;
    line-height: 22px;
    font-weight: 400!important;
    color: #fff;
    display: flex;
    align-items: center;
    background-color: var(--pbmit-secondary-color);
    position: relative;
    border-radius: 15px 15px 0 15px;
    font-family: Teko,sans-serif;
}
.widget .download .item-download a i:first-child {
    margin-right: 10px;
}
.widget .download .item-download a i {
    font-size: 24px;
    vertical-align: middle;
}
.widget .download .item-download .pbmit-rightpostn {
    position: absolute;
    right: 20px;
    padding: 0;
    background: 0 0;
}
.widget .download .item-download a i {
    font-size: 24px;
    vertical-align: middle;
}
.widget .download .item-download:last-child a {
    background-color: var(--pbmit-global-color);
}
.widget .download .item-download a:hover {
    background-color: var(--pbmit-global-color);
}
.widget .download .item-download:last-child a:hover {
    background-color: var(--pbmit-secondary-color);
}
.single-service-contact {
    padding: 50px 50px;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
    border-radius: 15px 15px 0 15px;
    background-color: var(--pbmit-secondary-color);
}
.single-service-contact-inner {
    position: relative;
    padding: 0 0 5px;
}
.single-service-contact h5 {
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    font-family: Teko,sans-serif;
    color: var(--pbmit-white-color);
}
.single-service-contact img {
    border-radius: 50%;
    margin: 0;
    display: inline-block;
    border: 5px solid var(--pbmit-global-color);
}
.single-service-contact .pbmit-service-position {
    color: var(--pbmit-global-color);
    font-size: 15px;
    font-style: normal;
    font-weight: 600!important;
    letter-spacing: .5px;
    font-family: Teko,sans-serif;
}
.single-service-contact ul li {
    padding: 0 0 5px 0;
}
.widget ul>li ul {
    margin-left: 15px;
    margin-top: 15px;
}
.single-service-contact ul li i {
    color: var(--pbmit-global-color);
    margin-right: 5px;
}
.single-service-contact .main-form .form-control{
    margin-bottom: 10px;
}
.single-service-contact-inner .pbmit-btn:hover{
    background-color: var(--pbmit-white-color);
    color: var(--pbmit-blackish-color);
}
.single-service-contact-inner .pbmit-btn:hover span::before{
    background-color: var(--pbmit-blackish-color);
}
.service-details {
    margin-top: 40px;
}
.service-page-infobox ul.list-group{
    margin-top: 0;
 }
 .service-page-infobox{
    border-bottom:1px solid #EEEEEE;
   padding-bottom: 40px;
 }
.service-plan {
    margin-top: 40px;
}
.service-team {
    margin-top: 60px;
}

/** 04 - portfolio Detail **/
.portfolio-style-1{
    padding: 130px 0px 40px 0px;
}
.portfolio-single{
    padding: 80px 0;
}
.pbmit-pf-featured-wrapper{
    margin-bottom: 50px;
}
.pbmit-single-project-details-list {
    position: absolute;
    right: 70px;
    bottom: -60px;
    padding: 50px 50px;
    background-color: var(--pbmit-secondary-color);
    border-radius: 20px 20px 0 20px;
}
.pbmit-single-project-details-list h3 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
    color: #fff;
    display: none;
}
.pbmit-portfolio-lines-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px 30px;
}
.pbmit-portfolio-lines-wrapper .pbmit-portfolio-line-li {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,.1);
    color: #fff;
    padding-bottom: 10px;
}
.pbmit-portfolio-lines-wrapper .pbmit-portfolio-line-title {
    font-weight: 600!important;
    font-size: 16px;
    color: var(--pbmit-global-color);
    text-transform: uppercase;
    letter-spacing: .5px;
    font-family: Teko,sans-serif;
}
.pbmit-portfolio-lines-wrapper .pbmit-portfolio-line-li span {
    width: 100%;
    display: block;
}
.pbmit-portfolio-single .project-client {
    border-bottom: 1px solid #E1E1E1;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 0px 0px 40px 0px;
}
.project-client p{
    padding-bottom: 20px;
}
.first-letter {
    font-size: 30px;
    float: left;
    margin-right: 10px;
    line-height: 30px;
    padding: 12px 12px 10px;
    background-color: var(--pbmit-global-color);
    color: var(--pbmit-white-color);
  }
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    border-top: 1px solid #e1e1e1;
}
.post-navigation.nav-links .nav-next, .post-navigation.nav-links .nav-previous {
    width: 50%;
}
.post-navigation.nav-links .nav-previous {
    margin-right: auto!important;
}
.pbmit-portfolio-single .post-navigation.nav-links .nav-next, 
.pbmit-portfolio-single .post-navigation.nav-links .nav-previous {
    width: unset;
}
.nav-links a {
    display: flex;
    align-items: center;
    color: var(--pbmit-blackish-color);
}
.pbmit-portfolio-single  .nav-links a {
    display: -ms-flexbox!important;
    display: flex!important;
}
.nav-links .pbmit-portfolio-nav-thumbnail {
    position: relative;
}
.nav-previous .pbmit-portfolio-nav-thumbnail img {
    border-radius: 15px 15px 0;
}
.pbmit-portfolio-nav-thumbnail img {
    width: 95px;
    height: 95px;
}
.nav-links .pbmit-portfolio-nav-icon {
    position: absolute;
    width: auto;
    left: 0;
    top: 50%;
    color: #fff;
    font-size: 18px;
    -khtml-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}
.nav-links .nav-next .pbmit-portfolio-nav-icon i, 
.nav-links .nav-previous .pbmit-portfolio-nav-icon i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: rgba(0,0,0,.7);
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.nav-links .pbmit-portfolio-nav-icon i {
    position: absolute;
    top: 50%;
    -khtml-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}
.nav-links .nav-previous .pbmit-portfolio-nav-icon {
    left: 30px;
}
.nav-links .nav-previous .pbmit-portfolio-nav-wrapper {
    margin-left: 30px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}
.pbmit-portfolio-nav-head {
    font-size: 16px;
    color: #666;
    display: block;
}
.post-navigation.nav-links .nav-title {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400!important;
    font-family: Teko,sans-serif;
}
.post-navigation.nav-links .nav-next {
    text-align: right;
    margin-left: auto;
}
.post-navigation.nav-links .nav-next a{
    justify-content: end;
}
.nav-links .nav-next .pbmit-portfolio-nav-wrapper {
    margin-right: 30px;
}
.nav-links .nav-next .pbmit-portfolio-nav-icon {
    right: 70px;
}
.nav-next .pbmit-portfolio-nav-thumbnail img {
    border-radius: 15px 15px 15px 0;
}
.nav-links .nav-previous:hover .pbmit-portfolio-nav-icon i,
.nav-links .nav-next:hover .pbmit-portfolio-nav-icon i {
    background: rgba(252,0,18,.7);
    color: var(--pbmit-white-color);
}
.post-navigation.nav-links a:hover {
    color: var(--pbmit-global-color);
}

/** 05 - Blog Detail**/
.blog-grid .pbmit-blog-style-1{
	margin-bottom: 30px;
}
.blog-right-col{
    flex: 0 0 67%;
    max-width: 67%; 
	padding: 80px 15px;
}
.blog-left-col{
    flex: 0 0 33%;
    max-width: 33%;
	padding: 80px 15px; 
}
.blog-details .pbmit-featured-wrapper {
    margin-bottom: 30px; 
}
.pbmit-title-bar-wrapper.single-blog .pbmit-tbar-title{
    font-size: 60px;
    line-height: 60px;
}
.pbmit-blog-meta.pbmit-blog-meta-top {
    position: relative;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.single-blog .pbmit-blog-meta-top .pbmit-meta {
    color: var(--pbmit-white-color);
}
.single-blog .pbmit-blog-meta-top .pbmit-meta a,
.single-blog .pbmit-blog-meta-top .pbmit-meta i{
    color: var(--pbmit-white-color);
}
.blog-classic .pbmit-featured-wrapper img {
    border-radius: 50px 0 0 0;
}
.blog-classic .pbmit-meta-date-wrapper {
    background-color: var(--pbmit-secondary-color);
    text-align: center;
    display: inline-block;
    font-weight: 700!important;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: -114px;
    left: 0;
}
.blog-classic .pbmit-blog-classic-inner {
    font-family: Teko,sans-serif;
    padding-top: 30px;
    position: relative;
}
.blog-classic .pbmit-meta-date-wrapper span.pbmit-day {
    background-color: var(--pbmit-global-color);
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 5px;
}
.blog-classic .pbmit-meta-date-wrapper span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    padding: 7px 14px;
    font-weight: 500;
}
.blog-classic .pbmit-meta-date-wrapper span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    padding: 7px 14px;
    font-weight: 500;
}
/** --- Blog Classic ---**/
.pbmit-blog-classic {
    margin-bottom: 40px;
    position: relative;
    background: #fff;
}
.pbmit-blog-classic .pbmit-featured-wrapper {
    margin-bottom: 0;
}
.pbmit-blog-classic .pbmit-featured-wrapper img {
    border-radius: 50px 0 0 0;
}
.pbmit-blog-classic .pbmit-blog-classic-inner {
    top: -20px;
    padding-top: 30px;
    background: #fff;
    margin-left: 40px;
    padding-left: 35px;
    position: relative;
}
.pbmit-blog-classic .pbmit-meta-date-wrapper {
    background-color: var(--pbmit-secondary-color);
    text-align: center;
    display: inline-block;
    font-weight: 700!important;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: -82px;
    left: 0;
    font-family: Teko,sans-serif;
}
.pbmit-blog-classic .pbmit-meta-date-wrapper span.pbmit-day {
    background-color: var(--pbmit-global-color);
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 5px;
}
.pbmit-blog-classic .pbmit-meta-date-wrapper span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    padding: 7px 14px;
    font-weight: 500;
    font-family: Teko,sans-serif;
}
.pbmit-blog-classic .pbmit-blog-meta.pbmit-blog-meta-top {
    padding: 0 0 5px;
}
.pbmit-blog-meta.pbmit-blog-meta-top {
    position: relative;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.pbmit-blog-meta-top .pbmit-meta {
    position: relative;
    padding-left: 0;
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 10px;
    font-family: Teko,sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--pbmit-global-color);
}
.pbmit-blog-classic .pbmit-blog-meta.pbmit-blog-meta-top i {
    display: none;
}
.pbmit-blog-meta-bottom .pbmit-tag-icon i,
.pbmit-blog-meta-top .pbmit-meta i {
    color: var(--pbmit-global-color);
}
.pbmit-blog-meta-top .pbmit-meta a {
    color: var(--pbmit-global-color);
}
.pbmit-blog-meta-top .pbmit-meta:not(:first-child):before {
    content: '/'!important;
    padding-right: 10px;
    font-size: 14px;
    color: var(--pbmit-global-color);
}
.pbmit-blog-classic .pbmit-post-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 15px;
    margin-top: 0;
    text-transform: uppercase;
}
.pbmit-blog-classic .pbmit-entry-content {
    margin-top: 15px;
}
.pbmit-blog-classic .pbmit-read-more-link {
    margin-top: 30px;
}
.pbmit-blog-classic-inner .pbmit-read-more-link a, 
.pbmit-pricing-table-box .pbmit-ptable-btn a, 
.pbmit-service-style-1 a.btn-arrow, 
.pbmit-service-style-4 a.btn-arrow {
    padding: 14px 40px 14px 26px;
    border: 2px solid #eee;
    color: #999;
    background-color: transparent;
}
.pbmit-read-more-link a{
    font-family: Teko,sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-style: normal;
}
.pbmit-read-more-link a:hover {
    background-color: var(--pbmit-global-color);
    border-color: var(--pbmit-global-color);
    color: #fff;
}
.blog-grid .row .col-md-4{
	margin-bottom: 30px;
}
/**--- Sidebar Right ---**/
.sidebar .widget-search{
    background-color: var(--pbmit-global-color) !important;
	border: none !important;
}
.sidebar .widget{ 
    background-color: var(--pbmit-light-color);
    padding: 40px 35px;
    margin-bottom: 30px;
    border-radius: 15px 15px 0 15px;
}
.widget .search-form {
    position: relative;
}
.widget .search-form .search-field {
    display: block;
    width: 100%;    
	height: 60px;
    line-height: 60px;
    font-size: 13px;
    padding: 0 22px;
    font-weight: 400;
    color: #777c82;
    background: var(--pbmit-white-color);
	border: none;
    border-radius: 0px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    font-family:inherit;
}
.sidebar .widget .search-form a{
    position: absolute;
    right: 0px;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    top: 50%;
    height: 60px;
	line-height: 60px;
    margin-top: -30px;
    font-size: 16px;
    z-index: 1;
    width: 60px;
    text-align: center;
    color: #232e35;
}
.sidebar .widget a,
.sidebar .widget .post-date{
    font-family: inherit;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: 400;
}
.sidebar .recent-post-list li{
    padding-bottom: 15px;
    display: flex !important;
    align-items: normal;
    width: 100%;
	margin-top: 10px;
}
.sidebar .recent-post-list li:last-child{
	padding-bottom: 0;
}
.sidebar .recent-post-list li:first-child{
	margin-top: 0;
}
.sidebar .recent-post-list .media{
    display: flex;
}
.sidebar .recent-post-list .recent-post-thum{
    width: 75px;
    flex-shrink: 0;
    margin-right: 15px;
}
.sidebar .recent-post-list .recent-post-thum img{
	width: 75px;
}
.sidebar .media-body a{
	color: var(--pbmit-blackish-color);
}
.sidebar .media-body a:hover{
	color: var(--pbmit-global-color);
}
.sidebar .recent-post-list .post-date {
    line-height: 17px;
    display: block;
    font-size: 13px;
    font-weight: 700;
    margin-top: 5px;
}
.sidebar .recent-post-list .post-date a{
	color: var(--pbmit-global-color);
	font-size: 13px;
}
.sidebar .recent-post-list .post-date:hover{
    color: var(--pbmit-global-color);
}
.sidebar .widget-categories ul li{
    margin: 2px 0;
    position: relative;
    list-style: none;
	display: block;
}
.sidebar .widget-categories ul li:last-child{
	margin-bottom: 0;
}
.sidebar .widget-categories ul li a{
    color: var(--pbmit-blackish-color);
    font-size: 17px;
    font-weight: 400;
    padding: 8px 30px 6px 25px;
	position: relative;
    font-family: inherit;
}
.sidebar .widget-categories ul li a:hover{
	color: var(--pbmit-global-color);
}
.sidebar .widget-categories ul li a:before{
    content: '\f115';
    left: 0;
    top: 10px;
    font-size: 13px;
    color: var(--pbmit-global-color);
    font-weight: 400;
	position: absolute;
	font-family: 'pbminfotech-base-icons';
}
.sidebar .widget-categories li span {
    position: absolute;
    right: 15px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: #fff;
    text-align: center;
    display: block;
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px 5px 0 5px;
    top: 9px;
    color: #111010;
}
.widget.tagcloudul li {
    margin-bottom: 0;
    padding-bottom: 8px;
}
.widget ul>li {
    padding: 0 0 15px 0;
    line-height: normal;
}
.sidebar .widget .tagcloud a{
    display: inline-block;
    font-size: 16px!important;
    padding: 0 18px;
    height: 40px;
    margin:0 4px 8px 0;
    letter-spacing: .5px;
    font-weight: 400!important;
    line-height: 40px;
    font-family: inherit;
    background-color: var(--pbmit-white-color);
    -webkit-transition: 0.4s ease-out 0s;
    -o-transition: 0.4s ease-out 0s;
    transition: 0.4s ease-out 0s;
}
.sidebar .widget .tagcloud a:hover{
     color: var(--pbmit-white-color);
     background: var(--pbmit-global-color);
}
.sidebar .widget.widget-archive ul li {
    padding: 0 0 15px 0;
}
.sidebar .widget .widget-title {
    font-family: Teko,sans-serif;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0;
    color: #101010;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}
/** --- Blog Large ---**/
.post.blog-details .blog-classic{
	position: relative;
}
.post.blog-details .pbmit-blog-classic-inner{
	padding: 0;
	border-bottom: none;
}
.post blockquote {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .5px;
    padding: 40px 55px;
    position: relative;
    border: none;
    margin: 40px 0 40px;
    color: #fff;
    border-radius: 0;
    font-family: Teko,sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: var(--pbmit-secondary-color);
    margin-left: 30px;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 5px 16px 0 rgb(255 0 0 / 24%);
    font-weight: 300;
}
.blog-classic blockquote:not(.wp-block-quote):not(.has-text-color):before {
    content: '\e85e';
    font-size: 60px;
    font-style: normal;
    line-height: normal;
    font-family: 'pbminfotech-base-icons';
    font-weight: 400;
    position: absolute;
    right: 60px;
    bottom: 20px;
    color: #fff;
    opacity: .1;
}
.post blockquote p{
	margin-bottom: 0;
    position: relative;
    z-index: 1;
}
blockquote cite, blockquote small {
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    margin-top: 25px;
    opacity: 1;
    font-style: normal;
    padding-right: 5px;
    color: var(--pbmit-global-color);
}
.blog-classic blockquote:not(.wp-block-quote):not(.has-text-color):after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    z-index: 1;
    left: -30px;
    top: 47px;
    background-color: var(--pbmit-global-color);
}
.post blockquote .authorOrTitle{
	display: block;
    margin-top: 15px;
    font-size: 14px;
    line-height: 15px;
	color: var(--pbmit-global-color);
}
figure.block-gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.blocks-gallery-grid:not(.has-nested-images), 
.block-gallery:not(.has-nested-images) {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.blocks-gallery-item {
    margin: 0 1em 1em 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: calc(50% - 1em);
}
.pbmit-blog-list-ele {
    margin: 20px 0 30px;
    padding: 0;
    list-style: none;
}
.pbmit-blog-list-ele li {
    color: #111010;
    font-weight: 400!important;
    margin: 10px 0;
    font-size: 20px;
    line-height: 26px;
    font-family: Teko,sans-serif;
}
.pbmit-blog-list-ele li i {
    color: var(--pbmit-global-color);
    margin-right: 15px;
    font-size: 15px;
}
.pbmit-author-box {
    margin-top: 60px;
    margin-bottom: 25px;
    padding: 45px 45px 25px 48px;
    background-color: var(--pbmit-global-color);
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 26%);
}
.pbmit-author-image {
    height: 100px;
    width: 100px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 35px;
    background-color: #fff;
}
.pbmit-author-content {
    -webkit-flex-shrink: 100;
    -moz-flex-shrink: 100;
    -ms-flex-negative: 100;
    flex-shrink: 100;
}
.pbmit-author-content .pbmit-author-name {
    line-height: 30px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500!important;
    margin-bottom: 10px;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
    font-family: Teko,sans-serif;
}
.pbmit-author-content .pbmit-author-name:before {
    content: "";
    margin-top: -3px;
    width: 40px;
    height: 3px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.pbmit-author-content .pbmit-author-name a {
    color: #fff;
}
.pbmit-blog-meta-bottom {
    padding-top: 20px;
    display: -ms-flexbox!important;
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dadada;
    margin-top: 30px;
}
.pbmit-blog-meta-bottom .pbmit-meta-tags a{
    display: inline-block;
    font-size: 16px!important;
    padding: 0 18px;
    height: 40px;
    letter-spacing: .5px;
    font-weight: 400!important;
    line-height: 40px;
    background-color: #f4f4f9;
    font-family: Teko,sans-serif;
    -webkit-transition: 0.4s ease-out 0s;
    -o-transition: 0.4s ease-out 0s;
    transition: 0.4s ease-out 0s;
}
.pbmit-blog-meta-bottom .pbmit-meta-tags a:hover{
    background-color: var(--pbmit-global-color);
    color: var(--pbmit-white-color);
}
.st-btn {
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    margin-right: 8px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    top: 0;
    vertical-align: top;
    white-space: nowrap;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -moz-border-radius: 0px;
}
.st-btn:hover {
    opacity: .8;
    top: -4px;
}
.st-btn > img {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: relative;
    top: 10px;
    vertical-align: top;
}
.st-btn.facebook{
    background-color: #4267B2;
}
.st-btn.twitter{
    background-color: #55acee;
}
.st-btn.pinterest{
    background-color: #CB2027;
}
.st-btn.email{
    background-color: #7d7d7d;
}
.st-btn.sharethis{
    background-color: #95D03A;
}
.comments-box {
    padding-top: 20px;
}
.comments-box .comments-title {
    font-size: 34px;
    line-height: 34px;
    font-weight: 400;
    margin-bottom: 35px;
    margin-top: 35px;
    text-transform: uppercase;
}
.pbmit-comment-meta{
    display: inline-block;
}
.comments-box .media {
    margin-bottom: 30px;
}
.comments-box .children .media.even.depth-2{
    margin-left: 30px;
}
.comments-box .comment-author img{
    border-radius: 50%;
    width: 85px;
    height: 85px;
}
.media-body.comment-meta {
    position: relative;
    flex-grow: 1;
    padding: 20px 30px 20px 40px;
    background: #f4f4f9;
    margin-left: 130px;
    border-radius: 20px 20px 0 20px;
}
.media-body.comment-meta::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    z-index: 1;
    left: -20px;
    top: 36px;
    background-color: var(--pbmit-global-color);
}
.comments-box .comment-author {
    float: left;
    margin-right: 22px;
    display: block;
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: .5px;
    font-weight: 400!important;
    text-transform: uppercase;
    font-family: Teko,sans-serif;
    color: var(--pbmit-blackish-color);
}
.comments-box .comment-date{
    display: block;
    margin-bottom: 10px;
    color: #999;
    font-size: 18px;
    font-weight: 400!important;
    letter-spacing: .5px;
    font-family: Teko,sans-serif;
}
.comments-box .comment-date a{
    color: #666;
}
.comment-reply-title {
    font-size: 24px;
    line-height: 34px;
	margin-bottom: 20px;
}
.comment-meta .reply a{
	display: inline-block;
    font-size: 17px;
    -webkit-transition: 0.4s ease-out 0s;
    -o-transition: 0.4s ease-out 0s;
    transition: 0.4s ease-out 0s;
    color: #666;
    font-family: 'Teko';
    letter-spacing: .5px;
    background-color: var(--pbmit-global-color);
    padding: 0 10px;
    color: #fff;
    border-radius: 0 10px 0 0;
    font-family: Teko,sans-serif;
}
.comment-meta .reply a:before {
    font-family: 'pbminfotech-base-icons';
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.2em;
    text-align: center;
    opacity: 1;
    font-variant: normal;
    text-transform: none;
    line-height: 16px;
    font-size: 10px;
    content: "\f112";
    margin-right: 5px;
    color: var(--pbmit-white-color);
}
.comment-meta .reply a:hover{
	background-color: var(--pbmit-blackish-color);
}
.comment-respond {
    margin-top: 30px;
}
.comment-form form .form-group:last-child{
    margin-bottom: 10px;
} 
.comment-form .pbmit-btn{
    padding: 20px 30px;
}
.comment-form .pbmit-btn:hover {
    color: var(--pbmit-white-color);
    background-color: var(--pbmit-global-color);
}

/** 07 - Contact us **/
.contact-form{
    overflow: hidden;
}
.contact-heading-desc{
    padding: 10px 0px 0px 56px;
}
.contact-form .col-md-5{
    width: 37% !important;
}
.contact-form .col-md-7{
    width: 62.665%;
}
.contact-form .contact-ihbox{
    background-color: var(--pbmit-blackish-color);
    margin: 95px 0px 95px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
    padding: 70px 62px 70px 65px;
    border-radius: 50px 0px 0px 0px;
    z-index: 1;
    position: relative;
}
.contact-form .contact-form-single{
    background-image: url(../images/transparent-img-01.png);
    background-color: var(--pbmit-light-color);
    border-radius: 50px 0px 0px 0px;
    padding: 200px 160px 200px 140px;
    border-radius: 0px 0px 50px;
    background-position: 356px -110px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
}
.contact-form .contact-form-single::before{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    display: block;
    z-index: -1;
    margin-left: -100px;
    background-color: var(--pbmit-light-color);
}
.contact-form-single .col-sm-6 , 
.contact-form-single .col-md-12 {
    padding: 0 1px;
}
.form-style-2 button{
    margin-top: 30px;
}
.contact-client-section{
    padding: 60px 0px 90px 0px;
    overflow: hidden;
}
.contact-client-section .swiper-slider {
    padding: 65px 40px 0px 0px;
}
.contact-client-section .client-ihbox {
    margin: 0 0 0 30px;
    padding: 65px 50px 25px 55px;
}
.contact-client-section .pbmit-client-light .pbmit-client-with-hover-img .pbmit-featured-wrapper {
    opacity: 1;
}
label.error {
	background: red;
	color: white;
	border-radius: 0px 0 10px 10px;
	margin-bottom: 15px;
	padding: 0 10px;
	font-size: 12px;
	display: block;
	margin-top: 0px;
	margin-right: 20%;
}
.message-status{
	margin-top: 30px;
}

/**08 - Comment Form **/
.form-control ,
.form-select{
    background-color: #eff2f7;
    color: #666;
    height: 50px;
    line-height: 23px;
    padding: 0 22px;
    font-size: 13px;
    font-weight: 400;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
    width: 100%;
}
textarea.form-control{
	height: 120px;
}
.form-select:focus {
    border: none;
    outline: 0;
    box-shadow: none;
}
.form-control:focus{
	color: var(--pbmit-body-typography-color);
}
.form-style-1 .form-control,
.form-style-1 .form-select{
    background-color: var(--pbmit-white-color);
    margin-bottom: 2px;
    border: 1px solid #d3d3d3;
}
.form-style-1 .col-sm-6 ,.form-style-1 .col-sm-12{
    padding: 0 1px;
}
.form-style-1 textarea {
    padding: 12px 22px;
    margin-bottom: 20px !important;
    border: 1px solid #d3d3d3;
}
.form-style-2 .form-control, .form-select {
    background-color: #fff;
    height: 50px;
    border: 0;
    margin-bottom: 2px;
}
.form-style-2 textarea.form-control {
    height: 120px;
}
.form-style-2  ::placeholder{
    color: rgba(0,0,0,.5);
}